.canvas {
    border:1px solid #000000;
}

.hidden{
    display:none;
}

.game-container {
    width: 100%;
}

.turn-container {
    width: 100%;
}

.canvas-container {
    width: 80%;
    max-width: 800px;
    float: left;
}

.score-container {
    width: 20%;
    float: left;
}